﻿<!DOCTYPE html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head><body>
<%var lang = args["language_type"]; %>
<%
	var OutSignalNames = [
		"/*[ID_LVD1]*/",
		"/*[ID_LVD2]*/",
		"/*[ID_LVD3]*/",
		"/*[ID_BATTERY_TEST]*/",
		"/*[ID_EQUALIZE_CHARGE]*/"
	];
	var InSignalTypeNames = [
		"/*[ID_SAMP_TYPE]*/",
		"/*[ID_CTRL_TYPE]*/",
		"/*[ID_SET_TYPE]*/",
		"/*[ID_ALARM_TYPE]*/"
	];
	var ModeNames = [
		["SLAVE", "/*[ID_SLAVE]*/"],
		["MASTER", "/*[ID_MASTER]*/"]
	];
	var TransText = [
		"/*[ID_SELECT]*/",
		"/*[ID_NA]*/"
	];
%>	

<div id="SetPowerSplit" template='<form action="../cgi-bin/web_cgi_setting.cgi" id="settingForm" method="post">
			<ul class="popul">
                <li class="popli"><span>/*[ID_EQUIP]*/:</span>
                    <div class="dropdown">
                        <div class="input_select set_value" data-index="" name="_EquipID" pname="_EquipID"></div>
                        <ul class="language yinc">
                             <li><a href="javascript:void(0)" rel=""><%=TransText[0] %></a></li>
                             <li><a href="javascript:void(0)" rel="-1"><%=TransText[1] %></a></li>
                        </ul>
                    </div>
                </li>
				<li class="popli"><span>/*[ID_SIG_TYPE]*/:</span>
                    <div class="dropdown">
                        <div class="input_select set_value" data-index="" name="_SigTypeID" pname="_SigTypeID"></div>
                        <ul class="language yinc">
                             <li><a href="javascript:void(0)" rel=""><%=TransText[0] %></a></li>
                             <li><a href="javascript:void(0)" rel="-1"><%=TransText[1] %></a></li>
                             <li><a href="javascript:void(0)" rel="0"><%=InSignalTypeNames[0] %></a></li>
                             <li><a href="javascript:void(0)" rel="1"><%=InSignalTypeNames[1] %></a></li>
                             <li><a href="javascript:void(0)" rel="2"><%=InSignalTypeNames[2] %></a></li>
                             <li><a href="javascript:void(0)" rel="3"><%=InSignalTypeNames[3] %></a></li>
                        </ul>
                    </div>
                </li>
				<li class="popli"><span>/*[ID_SIG]*/:</span>
                    <div class="dropdown">
                        <div class="input_select set_value" data-index="" name="_SigID" pname="_SigID"></div>
                        <ul class="language yinc">
                             <li><a href="javascript:void(0)" rel=""><%=TransText[0] %></a></li>
                             <li><a href="javascript:void(0)" rel="-1"><%=TransText[1] %></a></li>
                        </ul>
                    </div>
                </li>

                <li class="info" id="SetAlarmInfo"></li>
                <li class="btn"><a href="#" hidefocus="true" class="btn_set"><i>/*[ID_SET]*/</i></a></li>
			</ul>
		</form>'>

		<div class="power-split-summary">
			<form action="../cgi-bin/web_cgi_setting.cgi" method="post" id="historyForm">
				 <% 
		 			var iModeIndex = data.content[0];
		 			var iModeValue = data.content[1];
				%>
				<input type="hidden" name="equipID" id="equipID" value="0" />
				<dd class="t1">
					<strong>/*[ID_MODE]*/:<span><%=ModeNames[iModeIndex][1] %></span></strong>
	   				<div class="dropdown">
                        <div class="input_select set_value" data-index="<%=ModeNames[iModeIndex][0] %>" name="_powerSpliteMode" id="_powerSpliteMode"><%=ModeNames[iModeIndex][1] %></div>
                        <ul class="language yinc">
                        <% for(var i = 0; i < ModeNames.length; i++){ %>
                             <li><a href="javascript:void(0)" rel="<%=ModeNames[i][0] %>"><%=ModeNames[i][1] %></a></li>
                        <%} %>
                        </ul>
                    </div>
	   			</dd>
	   			<dd class="t2">
					<a href="#" class="btn_2" id="BtnSetMode"  ><span>/*[ID_SET1]*/</span></a>
				</dd>
			</form>
		</div>

        <div class="table-container margin-n">                    
			<div class="table-title"><span>/*[ID_TITLE]*/</span></div>
			<div class="table-list padding-tn">
				<div class="table" id="SetAlarmList">
					<div class="table-header">
						<ul>
							<li class="t-1"><strong class="left pl">/*[ID_INDEX]*/</strong></li>
							<li class="t-2"><strong class="left pl">/*[ID_SIG_NAME]*/</strong></li>
							<li class="t-3"><strong class="left pl">/*[ID_EQUIP_NAME]*/</strong></li>
							<li class="t-4"><strong class="left pl">/*[ID_SIG_TYPE]*/</strong></li>
							<li class="t-5"><strong class="left pl">/*[ID_SIG_NAME1]*/</strong></li>
							<li class="t-7"><strong class="center pl">/*[ID_MODIFY]*/</strong></li>
						</ul>
					</div>
					<div class="table-body">
						<%
						var nodata = true;
						var list = data.content[2];
						var sSigTypeName = "";
						if(list && list.length>0){			
							for(var i=0,ilen=list.length;i<ilen; i++){
								nodata = false;
								sSigTypeName = (list[i][3] < 0)? TransText[1]: InSignalTypeNames[list[i][3]];
							%>
								<ul class= "<%if(i%2==0){%> gray <%if(i==ilen-1){ %> bottom_line <%}}else{ %><%if(i==ilen-1){ %> bottom_line2 <%}} %>" id="AlarmSignal_<%=i %>_<%=list[i][2] %>_<%=list[i][3] %>_<%=list[i][4] %>">
									<li class="t-1"><span class="left pl"><%=i+1%></span></li>
									<li class="t-2"><span class="left pl"><%=OutSignalNames[list[i][0]] %></span></li>
									<li class="t-3"><span class="left pl"><%=list[i][5][lang] %></span></li>
									<li class="t-4"><span class="left pl"><%=sSigTypeName %></span></li>
									<li class="t-5"><span class="left pl"><%=list[i][6][lang] %></span></li>
									<li class="t-7"><a href="javascript:void(0);" hidefocus="true" class="btn_set" post="language_type=<%=lang %>&_modify_configure=10&_modify_configure_detail=25"  modifydatas='{"OutSigName":"<%=list[i][1] %>","_EquipID":"<%=list[i][2] %>","_SigTypeID":"<%=list[i][3] %>","_SigID":"<%=list[i][4] %>"}'><i>/*[ID_MODIFY1]*/</i></a></li>
								</ul>
							<%} %>
						<%} %>
						<%if(nodata){ %>
							<div class="system-no-data">/*[ID_NO_DATA]*/</div>
						<%} %>

					</div>
				</div>
			</div>
        </div>
    </div>
</body></html>
<script>
        if(!(window.location.href.toString().indexOf("hl")>-1))
        {
            var IPurl = window.location.href.toString().split("app")[0];
            window.location.href=""+IPurl+"app/www_user/html/eng/login.html";
        }
</script>