﻿<!DOCTYPE html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head><body>
<%var lang = args["language_type"]; %>
<div class="mainBody" id="mainBody">
<div id="EffiTra">
    <!--站点设置-->
    <div id="efficiency_info">
        <div class="table-container">
            <div class="table-title">
                <span>/*[ID_ELAPSED_SAVINGS]*/</span><em>/*[ID_BENCHMARK_RECT]*/:<%=data.ID_EFFICIENCY_TRACKER[6][lang] %></em><%if(data.ID_EFFICIENCY_TRACKER[7][0]==1){%><em>/*[ID_RUNNING_MODE]*/.&nbsp</em><%} %></div>
            <div class="table-list padding-tn">
                <div class="table">
                    <div class="table-body">
                    <div class="saving_title">
                        <span class="pre_saving_title">/*[ID_PRESENT_SAVINGS]*/</span>
                        <span class="tot_saving_title">/*[ID_TOTAL_SAVINGS]*/</span>
                    </div>
                        <div class="pre_savings">
                            <%=data.ID_EFFICIENCY_PRESENT[0] %> %
                        </div>
                        <div class="eff_energy">
                            <div class="value">
                                <%=data.ID_EFFICIENCY_TRACKER[4][0] %>
                            </div>
                            <div class="unit">
                                kWh
                            </div>
                        </div>
                        <div class="eff_energy">
                            <div class="value">
                                <%=data.ID_EFFICIENCY_TRACKER[4][1] %>
                            </div>
                            <div class="unit">
                                <%=data.ID_EFFICIENCY_TRACKER[5][lang] %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-container">
    <div class="table-title"></div>
        <div class="table-list padding-tn">
        <div class="table">
            <div class="table-header">
                <ul>
                    <li class="t-1"><strong class="left pl">/*[ID_TIME_FRAME]*/</strong></li>
                    <li class="t-2"><strong class="left pl">/*[ID_VALUE]*/</strong></li>
                    <li class="t-1" style="margin-left:37px;"><strong class="left pl">/*[ID_TIME_FRAME2]*/</strong></li>
                    <li class="t-2"><strong class="left pl">/*[ID_VALUE2]*/</strong></li>
                </ul>
            </div>
            <div class="table-body">
                <ul  class= "gray">
                    <li class="t-1"><span class="left pl">/*[ID_SAVING_LAST_24H]*/</span></li>
                    <li class="t-2"><span class="left pl"><%=data.ID_EFFICIENCY_TRACKER[0][0]%> kWh</span></li>
                </ul>
                <ul  class= "gray right">
                    <li class="t-1"><span class="left pl">/*[ID_SAVING_LAST_24H2]*/</span></li>
                    <li class="t-2"><span class="left pl"><%=data.ID_EFFICIENCY_TRACKER[0][1]%> <%=data.ID_EFFICIENCY_TRACKER[5][lang] %></span></li>
                </ul>
                <ul  class= "bottom_line">
                    <li class="t-1"><span class="left pl">/*[ID_SAVING_LAST_WEEK]*/</span></li>
                    <li class="t-2"><span class="left pl"><%=data.ID_EFFICIENCY_TRACKER[1][0]%> kWh</span></li>
                </ul>
                <ul  class= "bottom_line right">
                    <li class="t-1"><span class="left pl">/*[ID_SAVING_LAST_WEEK2]*/</span></li>
                    <li class="t-2"><span class="left pl"><%=data.ID_EFFICIENCY_TRACKER[1][1]%> <%=data.ID_EFFICIENCY_TRACKER[5][lang] %></span></li>
                </ul>
                <ul  class= "gray">
                    <li class="t-1"><span class="left pl">/*[ID_SAVING_LAST_MONTH]*/</span></li>
                    <li class="t-2"><span class="left pl"><%=data.ID_EFFICIENCY_TRACKER[2][0]%> kWh</span></li>
                </ul>
                <ul  class= "gray right">
                    <li class="t-1"><span class="left pl">/*[ID_SAVING_LAST_MONTH2]*/</span></li>
                    <li class="t-2"><span class="left pl"><%=data.ID_EFFICIENCY_TRACKER[2][1]%> <%=data.ID_EFFICIENCY_TRACKER[5][lang] %></span></li>
                </ul>
                <ul  class= "bottom_line">
                    <li class="t-1"><span class="left pl">/*[ID_SAVING_LAST_12MONTHS]*/</span></li>
                    <li class="t-2"><span class="left pl"><%=data.ID_EFFICIENCY_TRACKER[3][0]%> kWh</span></li>
                </ul>
                <ul  class= "bottom_line right">
                    <li class="t-1"><span class="left pl">/*[ID_SAVING_LAST_12MONTHS2]*/</span></li>
                    <li class="t-2"><span class="left pl"><%=data.ID_EFFICIENCY_TRACKER[3][1]%> <%=data.ID_EFFICIENCY_TRACKER[5][lang] %></span></li>
                </ul>
                <ul  class= "gray">
                    <li class="t-1"><span class="left pl">/*[ID_SAVING_SINCE_DAY1]*/</span></li>
                    <li class="t-2"><span class="left pl"><%=data.ID_EFFICIENCY_TRACKER[4][0]%> kWh</span></li>
                </ul>
                <ul  class= "gray right">
                    <li class="t-1"><span class="left pl">/*[ID_SAVING_SINCE_DAY12]*/</span></li>
                    <li class="t-2"><span class="left pl"><%=data.ID_EFFICIENCY_TRACKER[4][1]%> <%=data.ID_EFFICIENCY_TRACKER[5][lang] %></span></li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    <div class="table-container margin-n" id="siteSignals">
    <div class="table-title"><span>/*[ID_TOTAL_SAVINGS]*/</span></div>
        <div class="table-list padding-tn">
            <span class="title_energy_trend">/*[ID_ENERGY_SAVINGS_TREND]*/</span>
            <div id="Eff_Trend" class="energy_trend">
                <canvas id="Canvas_EffTrend"></canvas>
                <div class="canvas_x" id="Canvas_X"></div>
                <div class="canvas_y" id="Canvas_Y"></div>
            </div>
        </div>
    </div>
</div>
</div>
</body></html>
<script>
        if(!(window.location.href.toString().indexOf("hl")>-1))
        {
            var IPurl = window.location.href.toString().split("app")[0];
            window.location.href=""+IPurl+"app/www_user/html/eng/login.html";
        }
</script>