﻿<!DOCTYPE html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head><body>
    <%var args= it.args,data = it.data ? it.data : it;%> 

<div id="mainTab">
    <a class="currentMenu" data='{"data":"/var/datas/data.index.html","template":"tmp.system_inverter_output.html","render":"artTemplate"}' hidefocus="true" href="#">
    <span>AC</span>
    </a>
</div>


<div class="extbackground">
    <div class="mainBody" id="mainBody">
        <div  class="table-container" style="position:relative;">
            <div class="table-title system_inv_title">
                <span>/*[ID_INVT_INFO]*/</span>
            </div>
            <table border="0" cellpadding="0" cellspacing="0" class="table-a" id="Invt_InfoTable">
            
                <tr>                                                                                                     
                    <th style="padding-left:30px;"></th>                                                                 
                    <th >L1</th>                                                                                         
                    <th >L2</th>                                                                                         
                    <th>L3</th>                                                                                          
                </tr>                                                                                                    
                <tr class="gray">                                                                                        
                    <td style="padding-left:30px;"><span>Current (A)</span></td>                                         
                    <td>                                                                                                 
                        <%if(Validates.CheckValue(data.system.topology2.Inverter[14])=='v_hidden'){ %>                   
                            ---                                                                                          
                        <%}else { %>                                                                                     
                            <%=data.system.topology2.Inverter[14]==-9999 ? "NA" : data.system.topology2.Inverter[14][0]%>
                        <%} %>                                                                                           
                    </span></td>                                                                                         
                    <td><span>                                                                                           
                        <%if(Validates.CheckValue(data.system.topology2.Inverter[15])=='v_hidden'){ %>                   
                            ---                                                                                          
                        <%}else { %>                                                                                     
                            <%=data.system.topology2.Inverter[15]==-9999 ? "NA" : data.system.topology2.Inverter[15][0]%>
                        <%} %>                                                                                           
                    </span></td>                                                                                         
                    <td><span>                                                                                           
                        <%if(Validates.CheckValue(data.system.topology2.Inverter[16])=='v_hidden'){ %>                   
                            ---                                                                                          
                        <%}else { %>                                                                                     
                            <%=data.system.topology2.Inverter[16]==-9999 ? "NA" : data.system.topology2.Inverter[16][0]%>
                        <%} %>                                                                                           
                    </span></td>                                                                                         
                </tr>

                <tr>                                                                                                     
                    <td style="padding-left:30px;"><span>Power (kW)</span></td>                                          
                    <td><span>                                                                                           
                        <%if(Validates.CheckValue(data.system.topology2.Inverter[17])=='v_hidden'){ %>                   
                            ---                                                                                          
                        <%}else { %>                                                                                     
                            <%=data.system.topology2.Inverter[17]==-9999 ? "NA" : data.system.topology2.Inverter[17][0]%>
                        <%} %>                                                                                           
                    </span></td>                                                                                         
                    <td><span>                                                                                           
                        <%if(Validates.CheckValue(data.system.topology2.Inverter[18])=='v_hidden'){ %>                   
                            ---                                                                                          
                        <%}else { %>                                                                                     
                            <%=data.system.topology2.Inverter[18]==-9999 ? "NA" : data.system.topology2.Inverter[18][0]%>
                        <%} %>                                                                                           
                    </span></td>                                                                                         
                    <td><span>                                                                                           
                        <%if(Validates.CheckValue(data.system.topology2.Inverter[19])=='v_hidden'){ %>                   
                            ---                                                                                          
                        <%}else { %>                                                                                     
                            <%=data.system.topology2.Inverter[19]==-9999 ? "NA" : data.system.topology2.Inverter[19][0]%>
                        <%} %>                                                                                           
                    </span></td>                                                                                         
                </tr> 

                <tr class="gray">                                                                                        
                    <td style="padding-left:30px;"><span>Power (kVA)</span></td>                                         
                    <td><span>                                                                                           
                        <%if(Validates.CheckValue(data.system.topology2.Inverter[20])=='v_hidden'){ %>                   
                            ---                                                                                          
                        <%}else { %>                                                                                     
                            <%=data.system.topology2.Inverter[20]==-9999 ? "NA" : data.system.topology2.Inverter[20][0]%>
                        <%} %>                                                                                           
                    </span></td>                                                                                         
                    <td><span>                                                                                           
                        <%if(Validates.CheckValue(data.system.topology2.Inverter[21])=='v_hidden'){ %>                   
                            ---                                                                                          
                        <%}else { %>                                                                                     
                            <%=data.system.topology2.Inverter[21]==-9999 ? "NA" : data.system.topology2.Inverter[21][0]%>
                        <%} %>                                                                                           
                    </span></td>                                                                                         
                    <td><span>                                                                                           
                        <%if(Validates.CheckValue(data.system.topology2.Inverter[22])=='v_hidden'){ %>                   
                            ---                                                                                          
                        <%}else { %>                                                                                     
                            <%=data.system.topology2.Inverter[22]==-9999 ? "NA" : data.system.topology2.Inverter[22][0]%>
                        <%} %>                                                                                           
                    </span></td>                                                                                         
                </tr> 

                <tr>                                                                                                     
                    <td style="padding-left:30px;"><span>Voltage (V)</span></td>                                         
                    <td ><span>                                                                                          
                        <%if(Validates.CheckValue(data.system.topology2.Inverter[23])=='v_hidden'){ %>                   
                            ---                                                                                          
                        <%}else { %>                                                                                     
                            <%=data.system.topology2.Inverter[23]==-9999 ? "NA" : data.system.topology2.Inverter[23][0]%>
                        <%} %>                                                                                           
                    </span></td>                                                                                         
                    <td ><span>                                                                                          
                        <%if(Validates.CheckValue(data.system.topology2.Inverter[24])=='v_hidden'){ %>                   
                            ---                                                                                          
                        <%}else { %>                                                                                     
                            <%=data.system.topology2.Inverter[24]==-9999 ? "NA" : data.system.topology2.Inverter[24][0]%>
                        <%} %>                                                                                           
                    </span></td>                                                                                         
                    <td ><span>                                                                                          
                        <%if(Validates.CheckValue(data.system.topology2.Inverter[25])=='v_hidden'){ %>                   
                            ---                                                                                          
                        <%}else { %>                                                                                     
                            <%=data.system.topology2.Inverter[25]==-9999 ? "NA" : data.system.topology2.Inverter[25][0]%>
                        <%} %>                                                                                           
                    </span></td>                                                                                         
                </tr> 

            </table>
        </div>
    </div>
</div>
    
</body></html>
<script>
    if(!(window.location.href.toString().indexOf("hl")>-1))
    {
        var IPurl = window.location.href.toString().split("app")[0];
        window.location.href=""+IPurl+"app/www_user/html/eng/login.html";
    }
</script>
    