﻿<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<div id="set_site_info">
    <%
        var args= it.args,data = it.data ? it.data : it;
         var SignalName = [
            "/*[ID_TIPS3]*/",
            "/*[ID_TIPS4]*/",
            "/*[ID_TIPS5]*/"
        ];
    %>
    <div class="table-container">
        <div class="table-title">
            <span>/*[ID_SITE]*/</span></div>
        <div class="table-list padding-tn">
            <form action="../cgi-bin/web_cgi_control.cgi" id="settingForm" method="POST">
              <input type="hidden" name="equip_ID">
              <input type="hidden" name="signal_type">
              <input type="hidden" name="signal_id">
              <input type="hidden" name="control_value">
              <input type="hidden" name="control_type">
              <input type="hidden" name="sessionId">
              <input type="hidden" name="language_type" value="<%=args['language_type'] %>">
            <div class="table">
                <div class="table-header">
                    <ul>
                        <li class="t-1"><strong class="left pl">/*[ID_DEVICE]*/</strong></li>
                        <li class="t-2"><strong class="left pl">/*[ID_SIGNAL]*/</strong></li>
                        <li class="t-3"><strong class="left pl">/*[ID_VALUE]*/</strong></li>
                        <li class="t-4"><strong class="left pl">/*[ID_SETTING_VALUE]*/</strong></li>
                        <li class="t-5"><strong>/*[ID_SET]*/</strong></li>
                    </ul>
                </div>
                <div class="table-body">
                    <%for(var i=0,ilen=data.content.length; i<ilen; i++){ %>
                    <ul <%if(i%2==0){%> class="gray"<%} %>>
                        <li class="t-1"><span class="left pl">/*[ID_SITE1]*/</span></li>
                        <li class="t-2"><span class="left pl"><%=SignalName[i] %></span></li>
                        <li class="t-3"><span class="left pl"><%=data.content[i][2] %></span></li>
                        <li class="t-4"><span class="left pl"><input class="text set_value" type="text" value="" validate='{"type":"sitename","error":"008"}' maxlength="16"></span></li>
                        <li class="t-5"><a <%if(args['level']>=3){ %>class="btn_set" post="set_type=site&equip_ID=<%=data.content[i][0] %>&signal_type=-1&signal_id=-1&control_type=4&language_type=<%=args['language_type'] %>" <%} else { %> class="btn_set_disabled" <%} %> hidefocus="true" href="#" style="float: none;"><i>/*[ID_SET1]*/</i></a></li>
                    </ul>
                    <%} %>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
<%
    Pages.Int = function (data) {
        Configs.Data.polling = false;
        this.Setting(data, function () {
            Control.RefreshModule();
        });
    };
 %>
</body>
</html> 
<script>
        if(!(window.location.href.toString().indexOf("hl")>-1))
        {
            var IPurl = window.location.href.toString().split("app")[0];
            window.location.href=""+IPurl+"app/www_user/html/eng/login.html";
        }
</script>