﻿<!DOCTYPE html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head><body>
<%var args= it.args,data = it.data ? it.data : it;%>
<div class="table-container margin-n" id="SetClearData">                    
    <div class="table-title"><span>/*[ID_CLEAR]*/</span></div>
        <div class="table-list padding-tn">
        <form action="../cgi-bin/web_cgi_control.cgi" id="settingForm" method="post">
        <div class="table">
            <div class="table-body cleardata">
                  <div class="dropdown">
                        <div class="input_select set_value" data-index="0" id="_equipList" name="_equipList">/*[ID_HISTORY_ALARM2]*/</div>
                            <ul class="language yinc">
                                 <li><a href="javascript:void(0)" rel="0">/*[ID_HISTORY_ALARM]*/</a></li>
                                 <li><a href="javascript:void(0)" rel="1">/*[ID_HISTORY_DATA]*/</a></li>
                                 <li><a href="javascript:void(0)" rel="2">/*[ID_HISTORY_CONTROL]*/</a></li>
                                 <li><a href="javascript:void(0)" rel="3">/*[ID_HISTORY_BATTERY]*/</a></li>
                        </ul>
                 </div>
                 <a href="#" class="btn_2" id="btn_cleardata" style="margin:21px 0 0 15px"><span>/*[ID_CLEAR1]*/</span></a>
            </div>
        </div>
        </form>
    </div>
</div>
</body></html>
<%
Language["setting_clear_data"] = {
	"errors":[
       "/*[ID_ERROR0]*/",	/*[0]"Unknown error!"*/
       "/*[ID_ERROR1]*/",	/*[1]"Successful to be cleared !"*/
       "/*[ID_ERROR2]*/",	/*[2]"Fail to clear data!"*/
       "/*[ID_ERROR3]*/",	/*[3]"Failure, no required authority!"*/
       "/*[ID_ERROR4]*/",	/*[4]"Fail to communicate with ACU."*/
       "/*[ID_ERROR5]*/"	/*[5]"Failure, ACU is hardware protected"*/
    ],
	"tips":[
		"/*[ID_TIPS1]*/"
	]
};
%>
<script>
        if(!(window.location.href.toString().indexOf("hl")>-1))
        {
            var IPurl = window.location.href.toString().split("app")[0];
            window.location.href=""+IPurl+"app/www_user/html/eng/login.html";
        }
</script>