﻿<!DOCTYPE html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head><body>
<%var lang = args["language_type"]; %>
  <div id="Set_PowerSystem" template='{{
	var dataList = list;
	var lang = args["language_type"];
	for(var i=0,ilen=dataList.length;i<ilen; i++){ 
			var hasAuthority = args["level"]>=dataList[i][4];
			var ControlSignal = (dataList[i][2] == 1) ? true : false;
			if( dataList[i][1] > 1701 && dataList[i][1] < 1710 && dataList[i][2] == 2 && dataList[i][3] > 1 && dataList[i][3] < 6) {
				ControlSignal = true;
			};
			var ControlDisabled = (ControlSignal && dataList[i][12]==0 || !hasAuthority) ? true : false;
			if(dataList[i][5]>0){
				var setTimeStr = Pages.SetSettingDate(dataList[i][5]);
			} else {
				var setTimeStr = "--";
			}
			var RectifierExpansion = dataList[i][1]==1 && dataList[i][2]==2 && dataList[i][3]==180;
			var ConsumptionXY = ((dataList[i][1]==1 && dataList[i][2]==2 && dataList[i][3]==479) || (dataList[i][1]==1 && dataList[i][2]==2 && dataList[i][3]==480));
			var isDateFormat = dataList[i][8]==4;
		}}
		<ul class= "{{if(i%2==0){ }}gray {{if(i==ilen-1){}}bottom_line {{}}else{ if(i==ilen-1){}}bottom_line2 {{};};}}"  id="{{=dataList[i][1] }}_{{=dataList[i][2] }}_{{=dataList[i][3] }}_{{=i}}">
			<li class="t-1"><span class="left pl" title="{{=dataList[i][0][lang] }}">{{=dataList[i][0][lang] }}</span></li>
			<li class="t-2"><span class="left pl">
			{{if(ControlSignal && dataList[i][10].length==1){ }}
			{{=dataList[i][10][0][lang] }}
			{{}else{ 
				var SignalStr = isDateFormat ? (dataList[i][9]>=0 ? Validates.SetBatteryTime(dataList[i][9]) : "--") : dataList[i][9];			
			}}
			{{if(dataList[i][8]==5){ }}{{=dataList[i][10][dataList[i][9]][lang]}} {{}else{ }}{{=SignalStr }}{{};if(typeof dataList[i][10] =="string"){ }}{{=dataList[i][10]}}{{};} }}</span></li>
			<li class="t-3"><span class="left pl">{{=setTimeStr }}</span></li>
			<li class="t-4">
				 {{if(dataList[i][8]==5){
				 if(dataList[i][10].length<=2){ }}
					<span class="left pl radio">
					<fieldset class="set_value">
					{{
					for(var j=0,jlen=dataList[i][10].length; j<jlen;j++){ 
					var inputValue = (jlen==1)? 1: j;
					}}
					<div name="control_{{=i }}" value="{{=inputValue }}" {{if(j==0){}}{{if(ControlDisabled){ }}class="radiodiv disradiodiv"{{}else{}}class="radiodiv"{{};}}{{}else{}}{{if(ControlDisabled){ }}class="radiodiv disradiodivnot"{{}else{ }}class="radiodiv radiodivnot"{{};}};{{};}}><label>{{=dataList[i][10][j][lang]}}</label></div>
					{{} }}
					</fieldset>
					</span>
					{{}else { }}
				<span class="left pl selectsp">
				  <div class="dropdown">
				      <div data-index="0" {{if(args["level"]<dataList[i][4]){ }} disabled="disabled" class="input_select set_disabled"{{} else { }} class="input_select set_value" {{} }}>{{=dataList[i][10][0][lang]}}</div>
				      <ul class="language yinc">
				      {{for(var j=0,jlen=dataList[i][10].length; j<jlen;j++){ }}                     
						 <li><a href="javascript:void(0)" rel="{{=j }}">{{=dataList[i][10][j][lang]}}</a></li>
					  {{} }}
					  </ul>
				  </div>
				  </span>
						{{};} else { }}
					<span class="left pl text"><input type="text" value="{{if(isDateFormat){}}01-01 00{{};}}" name="control_{{=i }}" {{if(args["level"]<dataList[i][4]){ }} disabled="disabled" class="set_disabled"{{} else { }} class="set_value {{if(isDateFormat){}} set_plan{{};}}" {{} }} validate={"type":{{=dataList[i][8] }},"range":[{{=dataList[i][7]}},{{=dataList[i][6]}}]{{if(isDateFormat){}},"date":"mm-dd-hh"{{};}}}  {{if(isDateFormat){ }} maxlength="10" {{};}} /> <i>{{if(isDateFormat){}}01-01 00~12-31 23{{}else { }}{{=dataList[i][7] }}~{{=dataList[i][6] }}{{} }}</i></span>{{};}}</li>
				<li class="t-5"><a href="#" hideFocus="true" class="btn_set {{if(isDateFormat){}} set_plan{{};}} {{if(ControlSignal){ }} set_control{{};}} {{if(ControlDisabled){}} btn_set_disabled{{};}} {{if(RectifierExpansion){ }} set_RectifierExpansion {{}else if(ConsumptionXY){ }} set_ConsumptionXY {{};}}"
				{{if(!ControlDisabled){}} 
					post="equip_ID={{=dataList[i][1]}}&signal_type={{=dataList[i][2] }}&signal_id={{=dataList[i][3] }}&value_type={{=dataList[i][8] }}&control_type=1" 
					{{if(ControlSignal){ }} tip="{{=jQuery.toJSON(dataList[i][11]) }}" {{} else { }} value="{{=SignalStr}}" {{};}}
				{{};}}><i>/*[ID_SET1]*/</i></a></li>
		</ul>
		{{};}}'>
      <%
      var itemNames = {
		/* changed by Frank Wu,4/4/32,20140312, for adding new web pages to the tab of "power system" */
		"SYSTEM_GROUP":"/*[ID_SYSTEM_GROUP]*/"
		,"AC_GROUP":"/*[ID_AC_GROUP]*/"
		,"AC_UNIT":"/*[ID_AC_UNIT]*/"
		,"ACMETER_GROUP":"/*[ID_ACMETER_GROUP]*/"
		,"ACMETER_UNIT":"/*[ID_ACMETER_UNIT]*/"
		,"DC_UNIT":"/*[ID_DC_UNIT]*/"
		,"DCMETER_GROUP":"/*[ID_DCMETER_GROUP]*/"
		,"DCMETER_UNIT":"/*[ID_DCMETER_UNIT]*/"
		,"LVD_GROUP":"/*[ID_LVD_GROUP]*/"
		,"DIESEL_GROUP":"/*[ID_DIESEL_GROUP]*/"
		,"DIESEL_UNIT":"/*[ID_DIESEL_UNIT]*/"
		,"FUEL_GROUP":"/*[ID_FUEL_GROUP]*/"
		,"FUEL_UNIT":"/*[ID_FUEL_UNIT]*/"
		,"IB_GROUP":"/*[ID_IB_GROUP]*/"
		,"IB_UNIT":"/*[ID_IB_UNIT]*/"
		,"EIB_GROUP":"/*[ID_EIB_GROUP]*/"
		,"EIB_UNIT":"/*[ID_EIB_UNIT]*/"
		,"OBAC_UNIT":"/*[ID_OBAC_UNIT]*/"
		,"OBLVD_UNIT":"/*[ID_OBLVD_UNIT]*/"
		,"OBFUEL_UNIT":"/*[ID_OBFUEL_UNIT]*/"
		,"OBBATTFUSE_UNIT":"/*[ID_OBBATTFUSE_UNIT]*/"
		,"SMDU_GROUP":"/*[ID_SMDU_GROUP]*/"
		,"SMDU_UNIT":"/*[ID_SMDU_UNIT]*/"
		,"SMDUP_GROUP":"/*[ID_SMDUP_GROUP]*/"
		,"SMDUP_UNIT":"/*[ID_SMDUP_UNIT]*/"
		,"SMDUH_GROUP":"/*[ID_SMDUH_GROUP]*/"
		,"SMDUH_UNIT":"/*[ID_SMDUH_UNIT]*/"
		,"SMBRC_GROUP":"/*[ID_SMBRC_GROUP]*/"
		,"SMBRC_UNIT":"/*[ID_SMBRC_UNIT]*/"
		,"SMIO_GROUP":"/*[ID_SMIO_GROUP]*/"
		,"SMIO_UNIT":"/*[ID_SMIO_UNIT]*/"
		,"SMTEMP_GROUP":"/*[ID_SMTEMP_GROUP]*/"
		,"SMTEMP_UNIT":"/*[ID_SMTEMP_UNIT]*/"
		,"SMAC_UNIT":"/*[ID_SMAC_UNIT]*/"
		,"SMLVD_UNIT":"/*[ID_SMLVD_UNIT]*/"
		,"LVD3_UNIT":"/*[ID_LVD3_UNIT]*/"
		,"FCUP_UNIT":"/*[ID_FCUP_UNIT]*/"
		,"SMDUHH_UNIT":"/*[ID_SMDUHH_UNIT]*/"
		,"SMDUHH_GROUP":"/*[ID_SMDUHH_GROUP]*/"
		,"NARADA_BMS_UNIT":"/*[ID_NARADA_BMS_UNIT]*/"
		,"NARADA_BMS_GROUP":"/*[ID_NARADA_BMS_GROUP]*/"
      };
      var nodatas = true;
      var c = 0;
	  var listindex = 0;
      for(var item in data){ 
      if(data[item].length>0){
      nodatas=false;
      var isZK = (jQuery.inArray(c,Configs.PowerSystem)=="-1") ? false : true;
      %>
      <div class="table-container <%if(!isZK){ %> border-bn <%} %>">                    
        <div class="table-title table-ex"><span class="<%if(!isZK){ %>title-zk<%} else { %>title-sl<%} %>"><i></i><%=itemNames[item] %></span></div>
          <div id="Pscl" class="table-list padding-tn table-content" index="<%=c %>" <%if(jQuery.inArray(c,Configs.PowerSystem)!="-1"){ %> style="display:block;" <%} %> >
            <form action="../cgi-bin/web_cgi_control.cgi" method="post">
            <div class="table" style="overflow: inherit;">
                <div class="table-header">
                    <ul>
                        <li class="t-1"><strong class="left pl">/*[ID_SIGNAL]*/</strong></li>
                        <li class="t-2"><strong class="left pl">/*[ID_VALUE]*/</strong></li>
                        <li class="t-3"><strong class="left pl">/*[ID_TIME]*/</strong></li>
                        <li class="t-4"><strong class="left pl">/*[ID_SET_VALUE]*/</strong></li>
                        <li class="t-5"><strong>/*[ID_SET]*/</strong></li>
                    </ul>
                </div>
                <div class="table-body" style="margin-bottom:0">
                <%
                for(var z=0,zlen=data[item].length; z<zlen; z++){ 
                for(var item2 in data[item][z]){
                    c++;
                    var dataList = data[item][z][item2].list;
                    if(dataList && dataList.length>0){
                    var name = item2.split(",")[args["language_type"]];
                    var isZK = (jQuery.inArray(c,Configs.PowerSystem)=="-1") ? false : true;
                %>
                     <div class="table-body-title table-ex" style="margin: 5px 0 0 0;"><span class="<%if(!isZK){ %>title-zk<%} else { %>title-sl<%} %>"><i></i><%=name%></span></div>
                     <div class="table-content" index="<%=c %>" <%if(isZK){ %> style="display:block;" <%} %> data="<%=item%>|<%=z%>|<%=item2%>">                 
                    </div>
                    <%};};} %>
            </div>
            </div>
            </form>
        </div>
      </div>
      <%c++;};}; %>
      <%if(nodatas){ %>
       <div class='system-no-data border-tn'>/*[ID_NO_DATA]*/</div>
    <%} %>
  </div>
</body></html>
<script>
        if(!(window.location.href.toString().indexOf("hl")>-1))
        {
            var IPurl = window.location.href.toString().split("app")[0];
            window.location.href=""+IPurl+"app/www_user/html/eng/login.html";
        }
</script>