﻿<!DOCTYPE html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head><body>
<%var lang = args["language_type"]; %>
<div id="CabinetMap" template='
<div class="cabinet-unit">(A)</div>
<ul class="cabinet-map-info">
    <li><i class="c"></i>/*[ID_MAJOR]*/</li>
    <li><i class="w"></i>/*[ID_OBS]*/</li>
    <li><i class="n"></i>/*[ID_NORMAL]*/</li>
	<select id="changeList" style="display:none">
		<option>/*[ID_SELECT]*/</option>
	</select>
</ul>'>
<%
var nodatas = true;
var alarm = 0;
for(var item in data){
for(var item1 in data[item])
{
if(item1!="name")
{
    if(data[item][item1][1].length > 0){
    nodatas = false;
%>
    <div class="cabinet-x" name="<%=item %>">
        <strong><%=data[item]["name"] %></strong>
        <%
        var d = 0;
        for(var du in data[item]){
		if(du=="name"){continue; }
        d++;
        alarm = 0;
            for(var branch in data[item][du][1]){
            if(data[item][du][1][branch][4] == 3)
            {
                alarm = 3;
                break;
            }
            }
            for(var branch1 in data[item][du][1]){
            if(data[item][du][1][branch1][4] == 2)
            {
                if(alarm == 0)
                {
                alarm = 2;
                break;
                }
            }
            }
        %>
            <a <% if(alarm==3){ %>style="background:red"<%}else if(alarm==2){ %>style="background:yellow"<%} %>href="#"  class="du<%if(d==6){%> du-last<%}%> <%if(d%2==0){ %>du-gray<%} %>" name="<%=du %>"><%=data[item][du][0] %></a>
        <%};for(var i=0; i<6-d; i++){%>
            <span class="<%if(i==6-d-1){%>du-last<%}%><%if(d%2==0){if(i%2!=0){ %> du-gray<%}}else{if(i%2==0){ %> du-gray<%}}%>">&nbsp;</span>
        <%};%>

    </div>
<%break;}}}} %>
<%if(nodatas){ %>
    <div class='is-empty'>/*[ID_NO_DATA]*/</div>
<%} %>
</div>
</body></html>
<%
window.Language["cabinet_map"] = {
	"errors":[
		"/*[ID_NO_DATA1]*/",	/*[0]"no data!"*/
	]
};
%>
<script>
        if(!(window.location.href.toString().indexOf("hl")>-1))
        {
            var IPurl = window.location.href.toString().split("app")[0];
            window.location.href=""+IPurl+"app/www_user/html/eng/login.html";
        }
</script>