﻿.btn_set { padding:0 0 0 5px; }
.btn_set i { padding: 0 5px 0 0; }
.btn_set_disabled { padding:0 0 0 5px; }
.btn_set_disabled i { padding:0 5px 0 0; }
.table-list {}
.table { width: 746px; }
.table li .pl { padding-left: 5px; }
.table li.t-1 { width: 220px; }
.table li.t-2 { width: 100px; }
.table li.t-3 { width: 125px; }
.table li.t-4 { width: 225px; }
.table li.t-5 { width: 75px; }

#Pscl .table li.t-2,#Set_Rect .table li.t-2,#Set_mppt .table li.t-2,#Set_Charge .table li.t-2,#SetDIAlarm .table li.t-3{ width: 160px; }
#siteSignals .table li.t-4 { width: 190px; }
#SetDIAlarm .table li.t-6 { width:115px; }

#NMS3 .table li.t-2{width:90px}
#NMS3 .table li.t-3{width:141px}
#NMS3 .table li.t-4{width:182px}
#NMS3 .table li.t-6{width:90px}
.alarm{width:auto}
.alarm-auto{margin-left: 435px;}