﻿
#Set_Charge .table li.t-3,
#Pscl .table li.t-3,
#Pscl .table li.t-4,
#Set_Eco .table li.t-3,
#Set_Temp .table li.t-3,
#siteSignals .table li.t-3,
#Set_Rect .table li.t-3,
#Set_mppt .table li.t-3,
#Set_Battery .table li.t-3,
#Set_Hybrid .table li.t-3{width:200px}
#Pscl .table li.t-5{width:87px !Important;}
#siteSignals .table li.t-4{width:170px}
#set_site_info .table li.t-4{width:262px}
#Set_mppt .table li.t-4{width:206px}
#Set_PowerSystem .table-title span,#SetRestoreDefault .table-title span{width:auto}
.history-summary .dropdown.exdo{margin-left:190px}
.history-summary .btn_exdo{margin: -27px 0 0 430px;}
#SetDIAlarm .table li.t-1{width:55px}
#SetDIAlarm .table li.t-4{width:106px}
#SetDIAlarm .table li.t-5{width:125px}
#SetDIAlarm .table li.t-6{width:100px}
#SHUNT_SET .table li.t-1{width:100px}
#SHUNT_SET .table li.t-3{width:85px}
#SystemDetail .table li.t-3{width:180px}
.alarm{width:auto;right:270px;}
.alarm-auto{ margin-left: 470px;}