﻿/*G3 French style*/

/*setting list*/
.table-list { padding: 20px 5px;}
.table { width: 746px;}
.table li .pl { padding-left: 5px; }
.table li.t-1 { width: 220px; }
.table li.t-2 { width: 100px; }
.table li.t-3 { width: 125px; }
.table li.t-4 { width: 235px; }
.table li.t-5 { width: 65px; }

#Pscl .table li.t-2,#Set_Rect .table li.t-2,#Set_mppt .table li.t-2 { width: 160px; }
/*ipv4*/
#siteSignals .table li.t-1 { width: 230px; }
#siteSignals .table li.t-3 { width: 180px; }
#siteSignals .table li.t-4 { width: 195px; }

/*shunt*/
#SHUNT_SET .table li.t-1 { width:135px; }
#SHUNT_SET .table li.t-2 { width:165px; }
#SHUNT_SET .table li.t-5 { width:145px; }
.Pop-set-alarm {
  margin: -105px 0 0 -65px !important;
  width: 350px !important;
}
#Set_Hybrid .table li.t-3{width:220px}
#Set_Hybrid .table li.t-4{width:180px}

#SetDIAlarm .table li.t-4{width:90px}
#Set_Charge .table li.t-3,#Pscl .table li.t-3,#Set_Eco .table li.t-3,#Set_Temp .table li.t-3,#Set_Rect .table li.t-3{width:180px}
.history-summary .dropdown.exdo{margin-left:219px}
.history-summary .btn_exdo{margin: -27px 0 0 456px;}
#historyEventLog .table-title span{width: 255px;height: 12px;}

#NMS3 .table li.t-2{width:110px}
#NMS3 .table li.t-3{width:141px}
#NMS3 .table li.t-7{width:145px}
#SetDIAlarm .table li.t-4{width:100px}
.history-summary .historyUpload{float: left;margin: -27px 535px!important;}


.alarm{right:24px;width:auto;}
.alarm-auto{margin-left: 480px;}